beautifulsoup4==4.12.2
docx2txt==0.8
duckduckgo-search==3.8.3
hugchat==0.3.4
langchain==0.0.219
pandas==2.0.1
pdfplumber==0.9.0
pydub==0.25.1
requests==2.31.0
sketch==0.4.2
SpeechRecognition==3.8.1
streamlit==1.24.0
streamlit-extras==0.2.7
youtube-search-python==1.6.6
youtube-transcript-api==0.6.1
chromadb==0.3.26
ffmpeg-python==0.2.0
huggingface-hub==0.14.1

# ✅ Fix Streamlit Cloud build errors
rich==13.7.1
markdown-it-py==2.2.0
pygments==2.15.1
